body {
  min-width: 248px;
  text-align: center;
}

.button {
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  padding: 4px 14px;
  text-align: center;
  display: inline-block;
  font-size: medium;
  transition-duration: 0.2s;
  border-radius: 4px;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #008cba;
}

.button:hover:active {
  background-color: #014d66;
}
ul.list {
  list-style-type: none;
  padding-left: 16px;
  text-align: left;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

ul.list > li {
  padding: 5px 20px 5px 20px;
  font-size: medium;
}

.errorMessage {
  text-align: center;
  display: none;
  color: red;
  padding: 8px 0;
  font-weight: bold;
  font-size: small;
}

.block {
  display: inline-block;
  text-align: center;
}
